@font-face {
  font-family: 'note-sans';
  src: url('./minsans-music.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'note-serif';
  src: url('./source-serif-music.woff2') format('woff2');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}
